main {
    grid-template-columns: auto;
    place-items: unset;
    place-content: center;
    gap: 16px;
}

.account,
.account-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.account {
    justify-content: space-between;
    align-items: center;
}

.data {
    text-align: left;
}

#user {
    font-size: 20px;
    font-weight: 700;
}

a[href="/signin"] {
    padding: 14px 24px;
    background-color: transparent;
    color: var(--primary);
    outline: 1px solid var(--primary);
}

a[href="/signin"]:hover {
    background-color: var(--primary);
    color: var(--white);
}

.books-content {
    display: grid;
}

.books-content a {
    text-decoration: none;
}

.books-content a:hover {
    background-color: var(--lightgrey);
    color: var(--black);
    transition: 150ms ease-out;
}

.books-item {
    border: 1px solid var(--darkgrey);
    overflow: hidden;
}

.books-item img {
    object-fit: cover;
    aspect-ratio: 2 / 3;
}

.books-info {
    padding: 16px;
}

.books-item p {
    color: hsl(0, 0%, 30%);
}

.isbn {
    color: hsl(0, 0%, 60%);
    font-size: 12px;
}

@media only screen and (max-width: 600px) {
    main {
        display: grid;
    }

    a[href="/signin"] {
        padding: 8px 24px;
        min-width: 100%;
    }

    .books-item img {
        max-width: 256px;
    }

    .books-content {
        place-content: center;
        gap: 24px;
    }

    .books-item p {
        font-size: 14px;
    }
}

@media only screen and (min-width: 600px) {
    .books-item img {
        max-width: 300px;
    }

    .books-content {
        grid-template-columns: repeat(2, auto);
        gap: 32px;
    }
}

@media only screen and (min-width: 768px) {
    .books-item img {
        max-width: 100%;
    }

    .books-content {
        grid-template-columns: repeat(3, auto);
    }
}

@media only screen and (min-width: 1200px) {
    .books-content {
        grid-template-columns: repeat(4, auto);
    }
}