:root {
    --primary: hsl(228, 63%, 48%);
    --accent: hsl(228, 63%, 89%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --dark-grey: hsl(0, 0%, 35%);
    --light-grey: hsl(0, 0%, 85%);
    --light-depth: hsl(0, 0%, 96%);
    --trans: hsla(0, 0%, 100%, 0.5);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}
header::before {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    backdrop-filter: blur(8px) saturate(200%);
    -webkit-backdrop-filter: blur(8px) saturate(200%);
    border-bottom: 1px solid var(--light-grey);
    z-index: -1;
}
header {
    height: 80px;
    position: sticky;
    top: 0;
    color: var(--black);
    background-color: var(--trans);
    z-index: 1;
}
.header-wrapper {
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    list-style: none;
}
.status-btn {
    outline: 1px solid var(--black);
    background-color: transparent;
    padding: 12px 24px;
    font-weight: 700;
}
.status-btn:hover {
    outline: 1px solid var(--primary);
    color: var(--white);
    background-color: var(--primary);
    transition: 150ms ease-out;
}
svg,
img {
    max-width: 100%;
    display: block;
}
#nav-icon,
.hide {
    display: none;
}
#logo {
    fill: var(--black);
}
#logo:hover,
#menu-icon:hover,
#close-icon:hover,
#back-icon:hover,
#light:hover,
#view:hover,
#viewNew:hover,
#blur:hover,
#blurNew:hover {
    fill: var(--dark-grey);
}
a {
    display: inline-block;
    color: inherit;
    text-underline-offset: 4px;
    text-decoration: none;
}
a:hover {
    color: var(--dark-grey);
    text-underline-offset: 5px;
}
hr {
    border-color: var(--trans);
}
main {
    min-height: calc(100vh - 80px);
    min-height: calc(100dvh - 80px);
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    place-content: center;
    align-items: center;
}
.primary-content {
    display: flex;
    flex-direction: column;
}
.primary-content h1 {
    line-height: 1.3;
    margin-bottom: 10px;
}
.primary-content p {
    margin-bottom: 20px;
}
.link,
a.primary-btn {
    max-width: fit-content;
}
.link {
    font-weight: 600;
    text-decoration: underline;
}
.link:hover {
    color: var(--dark-grey);
}
form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
input,
select,
button {
    font-family: inherit;
    font-size: 16px;
}
button,
#menu-icon,
#close-icon {
    cursor: pointer;
}
input {
    border: 1px solid var(--light-grey);
    background-color: var(--light-depth);
}
input:focus-visible {
    outline: 1px solid var(--black);
}
input[type="checkbox"]:focus {
    accent-color: var(--primary);
}
select {
    outline: 1px solid var(--primary);
    border: none;
    border-right: 16px solid transparent;
}
select,
input {
    padding: 16px 20px;
}
h1 {
    font-weight: 900;
}
h2 {
    margin-bottom: 8px;
}
button,
a.btn {
    background-color: transparent;
    border: none;
    font-weight: 700;
    padding: 16px 32px;
}
button:hover {
    outline: none;
}
.primary-btn,
a.primary-btn {
    outline: 1px solid var(--primary);
    color: var(--white);
    background-color: var(--primary);
}
.primary-btn:hover,
a.primary-btn:hover {
    outline: 1px solid var(--primary);
    color: var(--black);
    background-color: transparent;
    transition: 150ms ease-out;
}
.show-pass-btn,
.theme-icon-btn,
.mobileNav-icon-btn {
    padding: 0;
}
.theme-icon-btn {
    display: flex;
}
.rounded-box {
    border-radius: 12px;
}
footer {
    text-align: center;
    padding: 64px 0 16px;
}
@media only screen and (max-width: 600px) {
    main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 24px;
        text-align: center;
    }
}