main {
    grid-template-columns: auto;
    place-content: center;
    place-items: unset;
    gap: 32px;
}

h1 {
    text-align: center;
}

.user-note {
    text-align: center;
}

.admin p {
    font-weight: 500;
    margin-bottom: -12px;
}

.back {
    align-self: flex-start;
    max-width: fit-content;
}

.pass-box {
    position: relative;
    display: flex;
    flex-direction: column;
}

.pass-box input {
    width: 100%;
    padding-right: 56px;
}

.pass-box img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 16px;
    margin: auto;
}

#h-default-pass,
#h-old-pass {
    opacity: 0;
}

@media only screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }
}