:root {
    --spacing: 16px;
}
@media only screen and (max-width: 600px) {
    header {
        padding: var(--spacing) 24px;
    }
    #nav-icon {
        display: block;
    }
    nav ul {
        min-height: calc(100vh - 80px);
        min-height: calc(100dvh - 80px);
        min-width: 50%;
        position: fixed;
        top: 80px;
        right: 0;
        opacity: 0;
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        gap: 16px;
        border-left: 1px solid var(--light-grey);
        border-top: 1px solid var(--light-grey);
        background-color: var(--trans);
        backdrop-filter: blur(8px) saturate(200%);
        -webkit-backdrop-filter: blur(8px) saturate(200%);
        padding-top: 16px;
    }
    nav ul.anim {
        opacity: 1;
        transition: all 250ms ease-out;
    }
    nav li,
    nav a,
    nav button,
    .primary-btn {
        min-width: 100%;
    }
    nav a[href="signout"],
    nav a[href="signin"],
    nav a[href="../signout"],
    nav a[href="../signin"] {
        min-width: 80%;
    }
    nav button {
        display: flex;
        justify-content: center;
    }
    .app-container {
        padding: var(--spacing) 24px;
    }
    h1,
    nav ul {
        text-align: center;
    }
}
@media only screen and (min-width: 600px) {
    nav ul {
        gap: 40px;
    }
    header {
        padding: var(--spacing) 32px;
    }
    .app-container {
        padding: var(--spacing) 32px;
    }
}
@media only screen and (min-width: 768px) {
    header {
        padding: var(--spacing) 64px;
    }
    .app-container {
        padding: var(--spacing) 64px;
    }
    h1 {
        font-size: 32px;
    }
}
@media only screen and (min-width: 992px) {
    header {
        padding: var(--spacing) 128px;
    }
    .app-container {
        padding: var(--spacing) 128px;
    }
    h1 {
        font-size: 36px;
    }
}
@media only screen and (min-width: 1200px) {
    header {
        padding: var(--spacing) 160px;
    }
    .app-container {
        padding: var(--spacing) 160px;
    }
    h1 {
        font-size: 40px;
    }
}