.setting,
.setting a,
main {
    display: flex;
}

.setting {
    min-width: 100%;
}

.setting,
main {
    flex-direction: column;
}

.setting,
main {
    align-items: center;
}

.setting a {
    align-self: flex-start;
    gap: 6px;
    max-width: fit-content;
}