main,
.content,
.item,
.item ul {
    display: flex;
    flex-direction: column;
}

main {
    justify-content: center;
    gap: 32px;
}

.content {
    gap: 32px;
    max-width: 75ch;
}

.content,
.item {
    flex-wrap: wrap;
}

.item {
    width: 100%;
}

.item li {
    border: 1px solid #000;
    padding: 16px;
}

.nim {
    font-size: 12px;
}

.item ul {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    list-style: none;
    width: 100%;
}

.team-role {
    color: var(--primary);
    font-size: 24px;
    font-family: 'Caveat', cursive;
}

.link {
    font-weight: 400;
}

@media only screen and (max-width: 600px) {
    main {
        align-items: start;
        flex-direction: column;
        gap: 24px;
        text-align: left;
    }

    h1 {
        font-size: 32px;
    }

    .content {
        gap: 32px;
    }
}

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 48px;
    }
}